/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  font-family: Arial, sans-serif;
 }
 
 .App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
 }
 
 .App-header .logo {
  font-size: 24px;
 }
 
 .App-header .project-name {
  font-size: 24px;
  text-align: center;
 }
 
 nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
 }
 
 nav ul li {
  margin: 0 10px;
 }
 
 .App-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
 }
 
 .ads {
  font-size: 24px;
 }
 
 .services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }

 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #f8f9fa;
  flex: 1; /* Equal flex distribution among boxes */
  margin: 5px; /* Add some margin for spacing */
  text-align: center;
  /* border-radius: 5px; */
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  30px 30px 60px #bebebe,
             -30px -30px 60px #ffffff;
}
 
 .card {
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 200px;
  text-align: center;
 }
 
 footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
 }
 
 footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
 }
 
 footer ul li {
  margin: 0 10px;
 }
 
 footer p {
  width: 50%;
  text-align: center;
 }